body { 
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
         
         /*background color- grey*/
         background-color: #262626;   
}


.heart {
        position: relative;
        height: 100px;
        width: 100px;
        background-color: #ff3838;
        
}


.heart::before{

    content: '';
    position: absolute;
    
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    background-color: #ff3838;
    transform: translateY(-50%);
}

.heart::after{

    content: '';
    position: absolute;
    
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    background-color: #ff3838;
    transform: translateX(-50%);
}



